# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    locale: 'en_GB'
    app.locales: en_GB
    app.timezone: 'UTC'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    Xver\MiCartera\Frontend\Symfony\:
        resource: '../src/'
        exclude:
            - '../src/Kernel.php'

    Xver\MiCartera\Domain\:
        resource: '../vendor/xver/micartera-domain/src/'
        exclude:
            - '../vendor/xver/micartera-domain/src/Kernel.php'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
    Xver\SymfonyAuthBundle\Auth\Application\AuthProvider:
        arguments:
            - '@Xver\MiCartera\Domain\Account\Application\Query\AccountQuery'

    Xver\SymfonyAuthBundle\Account\Domain\AccountPersistenceInterface: '@Xver\MiCartera\Domain\Account\Infrastructure\Doctrine\AccountPersistence'

when@test:
    services:
        Tests\DataFixtures\:
            resource: '../tests/DataFixtures/'
            arguments:
                - '@Doctrine\Persistence\ManagerRegistry'
            tags: [doctrine.fixture.orm]
