<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MiCartera{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
</head>
<body>
OK
</body>
</html>
